<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="present-logger for eClub CIIRC CTU">
    <meta name="author" content="Jan Uhlik">
    <link rel="icon" href="/static/img/ic_people_black_24dp/ic_people_black_24dp_2x.png">
    <title>{{ title }}</title>

    <!-- Bootstrap support -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Material icons support -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">


</head>
<body>

{% include 'navbar.html' %}

<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- AJAX/JQuery support -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<!-- Main js support -->
<script src="/static/js/main.js"></script>

{% block scripts %}{% endblock %}

<!-- Bootstrap support -->
<script src="/static/js/bootstrap.min.js"></script>

</body>
</html>