{% extends 'base.html' %}
{% block content %}
    <div class="row-space">
        <h2>Android application</h2>
        User sets a name which he wishes to be shown on the presence list. The application then listens for WiFi
        connectivity changes and when phone connects to Turris access point, it sends a request with user’s name to
        server every 5 minutes reporting the presence of the user.
    </div>

    <div class="row-space">
        <h2>Server</h2>
        Web application written in Python using Flask framework exposes a simple REST API which receives POST
        requests from Android application. After it receives a request with user’s name, the name is saved to
        database. Application also exposes REST API for GET requests for returning informations to android
        application or web dashboard.
    </div>

    <div class="row-space">
        <h2>Diagram</h2>
        <img src="https://docs.google.com/drawings/d/1mU4Skr6DGKzs0pq84deY-R87rLXKQevaXnN1CLQd4Xo/pub?w=1440&h=900"
             class="img-fluid">
    </div>

    <div class="row-space">
        <h2>Futures ideas</h2>
        The Raspberry Pi will be used for two main things. Firstly, it will be connected to the monitor and show the
        web page where currently present users will be listed. Secondly, a voice assistant will be installed on the
        RPi allowing people to ask for information regarding the list. In the future, this could serve as a hub for
        other IoT related tasks, information from sensors, etc.
    </div>

    <div class="row-space">
        <h2>Codes</h2>
        All our codes are open-source under MIT licence and you can access them on our <a
            href="https://gitlab.com/eclubiot">Gitlab</a>
    </div>
{% endblock %}