{% set navigation_bar = [
    (url_for('main.presence_logger'), 'presence-logger', 'Presence-logger', 'people'),
] %}
{% set active_page = active_page|default('index') -%}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">eClub IoT</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% for href, id, caption, icon in navigation_bar %}
                <li
                        {% if id == active_page %} class="nav-item active"
                        {% else %} class="nav-item"
                        {% endif %}
                >
                    <a class="nav-link" href="{{ href|e }}">
                        <!--<i class="material-icons">{{ icon|e }}</i>-->
                        {{ caption|e }}
                    </a>

                </li>
            {% endfor %}
        </ul>
    </div>
</nav>