{% extends 'base.html' %}
{% set active_page = 'presence-logger' %}

{% block scripts %}
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(update_refresh_time());
        $(start_time());
        $(update_tables());
    </script>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Present users:</h2>
                <p class="lead">
                    Currently present club's users.
                </p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="container text-right">
                        <div class="btn-group" data-toggle="buttons" id="time" onchange="select_refresh_time()">
                            {% for time in data.times %}
                                <label class="btn
                            {% if time == data.refresh_time %}
                                btn-primary active
                            {% else %}
                                btn-secondary
                            {% endif %}
                            " id="time-select-label-{{ time }}">
                                    <input type="radio"
                                           name="time-select"
                                           id="time-select-{{ time }}"
                                           autocomplete="off"
                                           value="{{ time }}"
                                            {% if time == data.refresh_time %}
                                           checked
                                            {% endif %}
                                    >
                                    {{ time }}s
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container text-right">
                        <h5>
                            <div id="clock"></div>
                        </h5>
                    </div>
                </div>

            </div>
        </div>
        <table id="presence-table" class="table table-striped table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Fullname</th>
                <th>Timestamp</th>
                <th>Place</th>
            </tr>
            </thead>
            <tbody>
            {% for log in data.present_users %}
                <tr id="presence-table-row">
                    <th scope="row">
                        <i class="material-icons" style="color:#75ff33">face</i>
                    </th>
                    <!--<th scope="row">{{ loop.index }}</th>-->
                    <td>{{ log.fullname }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.place }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row row-space">
            <div class="col">
                <h2>Users:</h2>
                <p class="lead">
                    All club's users
                </p>
                <table id="users-table" class="table table-bordered table-sm">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Fullname</th>
                        <th>UUID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in data.users %}
                        <tr id="users-table-row">
                            <th scope="row">{{ user.fullname }}</th>
                            <td>{{ user.uuid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2>Places:</h2>
                <p class="lead">
                    Places of eClub Prague
                </p>

                <table id="places-table" class="table table-bordered table-sm">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Place</th>
                        <th>BSSID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for place in data.places %}
                        <tr id="places-table-row">
                            <th scope="row">{{ place.name }}</th>
                            <td>{{ place.bssid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}